<head>
  <title>Студия создания интерьера</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Студия дизайна интерьера для дома и квартиры">
  <meta name="keywords" content="Студия, дизайн, текстиль, мебель, аксессуары, интерьер, уют, квартира, дом">
  <link rel="shortcut icon" href="#">
  <link rel="preload" href="fonts/montserrat-regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/montserrat-medium.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">
</head>
