.about-us {
  padding-top: 65px;

  @include viewport--sm {
    padding-top: 35px;
  }
}

.about-us__title {
  margin-bottom: 40px;
  @include font (40, 50);
  font-weight: 400;
  color: $color-cab-sav;
  text-transform: uppercase;
  text-align: center;

  @include viewport--sm {
    @include font (35, 42);
    margin-bottom: 20px;
  }
}

.about-us__top-wrapper {
  padding: 0 182px;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1196px) and (min-width: 1024px) {
    padding: 0 100px;
  }

  @include viewport--md {
    padding: 0 30px;
  }

  @include viewport--sm {
    flex-direction: column;
  }
}

.about-us__image-block {
  width: 43%;

  @include viewport--md {
    width: 48%;
  }

  @include viewport--sm {
    width: 100%;
    margin-bottom: 10px;

    img {
      margin: auto;
    }
  }
}

.about-us__info-block {
  width: 50.9%;

  p:first-child {
    margin: 0 0 30px;

  }

  p:last-child  {
    margin: 0;
  }

  @include viewport--md {
    width: 48%;
  }

  @media (max-width: 860px) and (min-width: 768px) {
    font-size: 14px;
  }

  @include viewport--sm {
    width: 100%;
    @include font (14, 21);
  }
}

.about-us__bottom-wrapper {
  background-color: $color-bazaar;
}

.about-us__advantages-list{
  display: flex;
  justify-content: space-between;
  padding: 0 182px;

  @include viewport--md {
    padding: 0 30px;
  }

  @include viewport--sm {
    flex-direction: column;
  }
}

.about-us__advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 81px;

  @include font(30, 36);
  font-weight: 500;
  color: $color-default-white;
  text-transform: uppercase;

  span {
    padding-bottom: 9px;
    @include font(50, 62);
    font-weight: 400;
  }
}
