.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  width: 54.5%;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.footer__contact-link {
  color: $color-cab-sav;
  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    color: #ae127b;
    text-decoration: underline;
  }
}

.footer__copyright {
  width: 13.9%;

  p {
    margin: 0;
  }
}
