.footer {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width: 974px) and (min-width: 768px) {
    @include font (14, 21);
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;

  @include viewport--sm {
    flex-direction: column;
    align-items: center;
  }
}

.footer__contact {
  width: 54.5%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1245px) and (min-width: 1024px) {
    width: 69%;
  }

  p {
    margin: 0;

    @include viewport--sm{
      text-align: center;
    }
  }

  @include viewport--md {
    width: 68%;
  }

  @include viewport--sm {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.footer__contact-link {
  color: $color-cab-sav;
  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    color: #ae127b;
    text-decoration: underline;
  }
}

.footer__copyright {
  width: initial;

  p {
    margin: 0;
  }
}
