.nav {

}

.nav__item-company {
  width: 12.8%;
}

.nav__item-portfolio {
  width: 13.7%;
}

.nav__item-team {
  width: 8.9%;
}

.nav__item-work {
  width: 17.3%;
}

.nav__item-reviews {
  width: 17.7%;
}

.nav__item-application {
  width: 16.5%;
}
