.promo {
  padding-top: 150px;
  padding-bottom: 20px;
  min-height: 715px;
  margin-top: -97px;

  background-image: url("../img/promo-bg@1x.jpg");
  background-size: 1400px 715px;
  //background-position: right top -345px;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg@2x.jpg");
  }

  @include viewport--md {
    margin-top: -102px;
  }

  @include viewport--sm {
    padding-top: 95px;
    min-height: 635px;

    @media (max-width: 650px) and (min-width: 280px) {
      min-height: 410px;
    }
  }
}

.promo__info {
  padding-left: 84px;
  padding-top: 2px;

  @include viewport--sm {
    padding-left: 0;
  }
}

.promo__title {
  width: 534px;
  margin-bottom: 20px;
  @include font (50, 62);
  font-weight: 400;
  color: $color-cab-sav;

  @include viewport--sm {
    @include font (35, 42);

    @media (max-width: 650px) and (min-width: 280px) {
      width: 100%;
    }
  }
}

.promo__text {
  width: 444px;
  margin: 0;
  margin-bottom: 25px;
  color: $color-cab-sav;

  @include viewport--sm {
    @include font (14, 21);
    width: 100%;
  }
 }

.promo__link-btn {
  display: inline-block;
  padding: 25px 68px;

  background-color: $color-oriental-pink;
  //border-radius: 21px;
  //border: none;
  color: $color-cab-sav;
  @include font(20, 24);
  @include not-hover;

  &:hover,
  &:focus {
    @include hover;
    background-color: #c94f45;
    color: $color-default-white;
  }

  @include viewport--sm {
    padding: 15px 65px;
  }
}
