.reviews {
  padding-top: 65px;
  padding-bottom: 65px;
}

.reviews__title {
  margin-bottom: 40px;
  @include font (40, 50);
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;
}

.reviews__wrapper {
  position: relative;
  padding: 0 182px;
}

.reviews__list {
  width: 80.2%;
  margin: auto;
}

.reviews__item {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

.reviews__text-block {
  width: 48.8%;
  align-self: center;

  blockquote {
    margin: 0;

    p {
      margin: 0 0 30px;
    }

    //p:first-child {
    //  margin-top: 5px;
    //}

    p:last-of-type {
      margin-bottom: 23px;
    }

    cite {
      font-style: normal;
      text-transform: uppercase;
    }
  }
}

.reviews__img-block{
  width: 48.8%;

  figure {
    margin: 0 0 25px;

    &:last-child {
      margin: 0;
    }
  }
}

.reviews__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 41.5%;

  width: 72px;
  height: 72px;

  border-radius: 50%;
  background-color: $color-oriental-pink;
  z-index: 10;

  @include not-hover;

  svg {
    fill: #f5f2ed;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &:hover {
    @include hover;
    background-color: #c94f45;

    svg {
      fill: #e0ffe8;
    }
  }
}
