.reviews {
  padding-top: 65px;
  padding-bottom: 65px;

  @include viewport--sm {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.reviews__title {
  margin-bottom: 40px;
  @include font (40, 50);
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;

  @include viewport--sm {
    @include font (35, 42);
    margin-bottom: 20px;
  }
}

.reviews__wrapper {
  position: relative;
  padding: 0 182px;

  @media (max-width: 1200px) and (min-width: 1024px) {
    padding: 0 100px;
  }

  @include viewport--md {
    padding: 0 30px;
  }
}

.reviews__list {
  width: 80.2%;
  margin: auto;

  @include viewport--sm {
    width: 77%;
  }
}

.reviews__item {
  width: 100% !important;
  display: flex;
  justify-content: space-between;

  @include viewport--sm {
    flex-direction: column;
  }
}

.reviews__text-block {
  width: 48.8%;
  align-self: center;

  blockquote {
    margin: 0;

    p {
      margin: 0 0 30px;

      @include viewport--md {
        margin: 0 0 10px;
      }
    }

    //p:first-child {
    //  margin-top: 5px;
    //}

    p:last-of-type {
      margin-bottom: 23px;
    }

    cite {
      font-style: normal;
      text-transform: uppercase;
    }
  }

  @include viewport--md {
    @include font (16, 23);
  }

  @include viewport--sm {
    width: 100%;
    @include font (14, 21);
    order: 1;
  }
}

.reviews__img-block {
  width: 48.8%;

  figure {
    margin: 0 0 25px;

    &:last-child {
      margin: 0;
    }
  }

  @include viewport--sm {
    width: 100%;
    display: flex;
    gap: 10px;
  }
}

.reviews__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 41.5%;

  width: 72px;
  height: 72px;

  border-radius: 50%;
  background-color: $color-oriental-pink;
  z-index: 10;

  @include not-hover;

  svg {
    fill: #f5f2ed;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &:hover {
    @include hover;
    background-color: #c94f45;

    svg {
      fill: #e0ffe8;
    }
  }

  @include viewport--md {
    width: 50px;
    height: 50px;
  }
}
