.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;

  @media (max-width: 1390px) and (min-width: 1024px) {
    padding: 0 50px;
  }

  @include viewport--md {
    padding: 0 30px;
  }

  @include viewport--sm {
    padding: 0 10px;
  }
}



