@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

// Mobile first

/* @mixin viewport--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
} */

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}


@mixin btn-reset {
  padding: 0;

  background-color: transparent;
  border: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin font($font-size, $line-height) {
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
}

@mixin pseudo-elem {
  content: "";
  position: absolute;

  display: block;
}

@mixin montserrat-r {
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

@mixin montserrat-b {
  font-weight: 500;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

@mixin hover {
  outline: none;
  cursor: pointer;

  transition: $default-transition-settings;
}

@mixin not-hover {
  &:not(:hover) {
    transition: $default-transition-settings;
  }
}

